#content-area {
    // display: inline-block;
    overflow: auto;
    width: 100%;
    background: black;
    height: 1100px;
}


#filter {
    background: $teal;
    width: 30%;
    float: left;
    display: inline-block;
    color: $darkblue;
    height: 100%;


    .inside {
        padding: 1rem;
        max-width: 300px;
    }

    h4 {
        font-size: 0.9rem;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    select {
        background: transparent;
        padding: 1rem;
        font-size: 14px;
        font-weight: 500;
        color: $darkblue;
        display: block;
        margin-bottom: 20px;
        width: 100%;
        border: 2px solid #fff;
    }

    .filters {
        .title {
            font-size: 0.9rem;
            display: block;
            margin-bottom: 0.2rem;
        }
        input[type="text"] {
            width: 42%;
            display: inline-block;
            margin-right: 1%;
            margin-bottom: 20px;
            border-radius: 0.2rem;
            font-size: 0.7rem;
            padding: 0.4rem;
            color: $darkblue;
        }

        &.extras {

            label {
                display: block;
                width: 100%;
                padding: 10px 0;

                input[type="checkbox"] {
                    float: right;
                }
            }
        }
    }
}

