#footer {
    background: $darkblue;
    height: 200px;
    display: inline-block;
    width: 100%;

    .zoopla {
        // display: inline-block;
        // margin: 0 auto;
        margin-top: 20px;
        margin-left: 45%;
    }
}