#listings {
    float: left;
    width: 70%;
    display: inline-block;
    background: $offwhite;

    .listings-inside {
            padding: 15px;


        .search-area {

            input[type="text"] {
                width: 70%;
                background: transparent;
                font-size: 1.5rem;
                border: none;
                border-bottom: 2px solid $lightgray;
                margin-bottom: 20px;
                color: $darkblue;
            }
        }

        .sortby-area {
            margin-bottom: 20px;
            // display: flex;
            // flex-direction: row;
            // align-content: space-between;
            width: 100%;


            .sort-results {
            font-size: 0.8rem;
            color: $lightgray;
            //   display: flex;
            //   align-self: start;
                display: inline-block;
            }

            .sort-options {
                float: right;
                // display: flex;
                // align-self: end;
                display: inline-block;

                select {
                    color: $darkblue;
                    font-size: 0.9rem;
                    font-weight: 500;
                    border: 2px solid $teal;
                    background: transparent;

                }

            }

            .sort-view {
                // display: flex;
                // align-self: end;
                display: inline-block;

                .fas {
                    font-size: 1.2rem;
                    margin-left: 10px;
                    color: $purple;
                }

            }

        }

        .listings-results {
            display: grid;
            padding: 1rem;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1rem;
            grid-column-gap: 0.7rem;
            margin-bottom: 60px;

            .listing {
                background: #fff;
                // width: 33.3%;
                -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
                -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
                box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
                border-radius: 0.2rem;

                .listing-img {
                    // background: url(http://www.leveragere.com/slir/w1050-h550-c1050x550/assets/1966.jpg) no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    min-height: 150px;
                    // border-bottom-color: none;
                    border-top-left-radius: 0.2rem;
                    border-top-right-radius: 0.2rem;
                    color: #fff;
                    padding: 15px;
                    position: relative;

                    &:hover {

                        .details {
                            opacity: 1;
                        }

                        .address {
                            opacity: 0;
                        }
                    }

                    .address {
                        opacity: 1;
                        transition: all 0.2s ease-in-out;
                        position: absolute;
                        bottom: 10px;
                    }

                }


                .details {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    transition: all 0.2s ease-in-out;
                    border-top-left-radius: 0.2rem;
                    border-top-right-radius: 0.2rem;
                    padding: 15px;
                    // text-align: center;
                    background: rgb(104,109,224);
                    background: linear-gradient(119deg, rgba(104,109,224,0.8) 35%, rgba(126,214,223,0.8) 100%);


                }

                .listing-details {
                    text-align: center;
                    padding-top: 2.2rem;

                    .subdetail {
                        margin-bottom: 0.5rem;

                        i {
                            letter-spacing: 0.1rem;
                            span {
                                margin-left: 0.3rem;
                                letter-spacing:0.1rem;
                            }
                        }
                    }
                }

            .bottom-info {
                padding: 10px;
                color: $darkblue;

                .price {
                    font-size: 0.9rem;
                    display: block;
                    margin-bottom: 0.2rem;
                    letter-spacing: 0.1rem;
                }


                .location {
                    font-size: 0.9rem;
                    display: block;
                    letter-spacing: 0.1rem;
                    color: $darkgray;;
                }
            }

        }
    }





    }
}