@import url("https://fonts.googleapis.com/css?family=Roboto");
header {
  background: #686de0;
  color: #fff;
  overflow: auto;
  padding: 2rem 1rem; }
  header .logo {
    float: left;
    font-size: 1.5rem; }
  header nav {
    float: right; }
    header nav a {
      color: #fff;
      text-decoration: none;
      padding: 0.7rem 1rem;
      text-transform: capitalize;
      font-weight: 300; }
      header nav a:hover {
        color: #d1cbcd; }
      header nav a.register-btn {
        background: #7ed6df;
        padding: 0.7rem 0.9rem;
        text-align: center;
        border-radius: 0.2rem; }

#listings {
  float: left;
  width: 70%;
  display: inline-block;
  background: #FFFEFF; }
  #listings .listings-inside {
    padding: 15px; }
    #listings .listings-inside .search-area input[type="text"] {
      width: 70%;
      background: transparent;
      font-size: 1.5rem;
      border: none;
      border-bottom: 2px solid #d1cbcd;
      margin-bottom: 20px;
      color: #30336b; }
    #listings .listings-inside .sortby-area {
      margin-bottom: 20px;
      width: 100%; }
      #listings .listings-inside .sortby-area .sort-results {
        font-size: 0.8rem;
        color: #d1cbcd;
        display: inline-block; }
      #listings .listings-inside .sortby-area .sort-options {
        float: right;
        display: inline-block; }
        #listings .listings-inside .sortby-area .sort-options select {
          color: #30336b;
          font-size: 0.9rem;
          font-weight: 500;
          border: 2px solid #7ed6df;
          background: transparent; }
      #listings .listings-inside .sortby-area .sort-view {
        display: inline-block; }
        #listings .listings-inside .sortby-area .sort-view .fas {
          font-size: 1.2rem;
          margin-left: 10px;
          color: #686de0; }
    #listings .listings-inside .listings-results {
      display: grid;
      padding: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 1rem;
      grid-column-gap: 0.7rem;
      margin-bottom: 60px; }
      #listings .listings-inside .listings-results .listing {
        background: #fff;
        -webkit-box-shadow: 0px 9px 54px -4px #e0e0e0;
        -moz-box-shadow: 0px 9px 54px -4px #e0e0e0;
        box-shadow: 0px 9px 54px -4px #e0e0e0;
        border-radius: 0.2rem; }
        #listings .listings-inside .listings-results .listing .listing-img {
          background: url(http://www.leveragere.com/slir/w1050-h550-c1050x550/assets/1966.jpg) no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          min-height: 150px;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem;
          color: #fff;
          padding: 15px;
          position: relative; }
          #listings .listings-inside .listings-results .listing .listing-img:hover .details {
            opacity: 1; }
          #listings .listings-inside .listings-results .listing .listing-img:hover .address {
            opacity: 0; }
          #listings .listings-inside .listings-results .listing .listing-img .address {
            opacity: 1;
            transition: all 0.2s ease-in-out;
            position: absolute;
            bottom: 10px; }
        #listings .listings-inside .listings-results .listing .details {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem;
          padding: 15px;
          background: #686de0;
          background: linear-gradient(119deg, rgba(104, 109, 224, 0.8) 35%, rgba(126, 214, 223, 0.8) 100%); }
        #listings .listings-inside .listings-results .listing .listing-details {
          text-align: center;
          padding-top: 2.2rem; }
          #listings .listings-inside .listings-results .listing .listing-details .subdetail {
            margin-bottom: 0.5rem; }
            #listings .listings-inside .listings-results .listing .listing-details .subdetail i {
              letter-spacing: 0.1rem; }
              #listings .listings-inside .listings-results .listing .listing-details .subdetail i span {
                margin-left: 0.3rem;
                letter-spacing: 0.1rem; }
        #listings .listings-inside .listings-results .listing .bottom-info {
          padding: 10px;
          color: #30336b; }
          #listings .listings-inside .listings-results .listing .bottom-info .price {
            font-size: 0.9rem;
            display: block;
            margin-bottom: 0.2rem;
            letter-spacing: 0.1rem; }
          #listings .listings-inside .listings-results .listing .bottom-info .location {
            font-size: 0.9rem;
            display: block;
            letter-spacing: 0.1rem;
            color: #b3b3b3; }
      #listings .listings-inside .listings-results #pagination {
        display: inline-block;
        color: #30336b; }
        #listings .listings-inside .listings-results #pagination ul .pages {
          display: inline-block;
          text-decoration: none; }

#content-area {
  width: 100%;
  background: black;
  height: 300px; }

#filter {
  background: #7ed6df;
  width: 30%;
  float: left;
  display: inline-block;
  color: #30336b; }
  #filter .inside {
    padding: 1rem;
    max-width: 300px; }
  #filter h4 {
    font-size: 0.9rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700; }
  #filter select {
    background: transparent;
    padding: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: #30336b;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #fff; }
  #filter .filters .title {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.2rem; }
  #filter .filters input[type="text"] {
    width: 42%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 20px;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    padding: 0.4rem;
    color: #30336b; }
  #filter .filters.extras label {
    display: block;
    width: 100%;
    padding: 10px 0; }
    #filter .filters.extras label input[type="checkbox"] {
      float: right; }

#listings #pagination {
  color: #7ed6df;
  margin: 0 auto; }
  #listings #pagination .pages {
    text-align: center;
    background: #fff;
    width: 50%;
    -webkit-box-shadow: 0px 9px 54px -4px #e0e0e0;
    -moz-box-shadow: 0px 9px 54px -4px #e0e0e0;
    box-shadow: 0px 9px 54px -4px #e0e0e0;
    border-radius: 0.2rem;
    margin: 0 auto;
    padding-left: 0; }
    #listings #pagination .pages li {
      display: inline-block;
      padding: 1rem; }
      #listings #pagination .pages li.active {
        color: #686de0;
        background: #7ed6df;
        border-radius: 0.2rem; }
      #listings #pagination .pages li:hover {
        color: #686de0;
        background: #7ed6df;
        border-radius: 0.2rem;
        cursor: pointer; }

* body, html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }
